.product-display {
    height: 75vh;
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    background: #fff;
    position: relative;
}
#showAddToCartAlert_snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #ff4141; 
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px; 
    position: absolute; 
    z-index: 100; 
    top: -10%;
    right: 30px; 
    font-weight: 600;
  }
  
  
  #showAddToCartAlert_snackbar.showAddToCartAlert-Snackbar {
    visibility: visible;
    -webkit-animation: fadein 0.3s, fadeout 0.5s 2.5s;
    animation: fadein 0.3s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {right: 30px; opacity: 1;}
    to {right: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {right: 30px; opacity: 1;}
    to {right: 0; opacity: 0;}
  }


.product-display-left {
    display: flex;
    width: 40%;
    height: 100%;
}

.product-images {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 2px;
    height: 90%;
}

.product-images img {
    width: 60px;
    height: 20%;
    border: 1px solid #ccc;
    margin-bottom: 2px;
    cursor: pointer;
}

.product-image-main {
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;
    border: 1px solid #ccc;
}

.product-image-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.zoom-lens {
    position: absolute;
    border: 2px solid #ccc; /* Change border color as needed */
    width: 100px; /* Lens size */
    height: 100px; /* Lens size */
    opacity: 0.7; /* Lens opacity */
    pointer-events: none; /* Prevent interactions with the lens */
    border-radius: 50%; /* Optional: round shape */
    background-repeat: no-repeat;
    background-size: 200%; /* Ensure this is double the image size for zoom */
    z-index: 10; /* Ensure lens is above the image */
    cursor: none; /* Hide cursor over lens */
}

.product-display-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.product-name h2 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-bottom: 2rem;
}

.product-ratings {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-ratings span svg {
    color: #ff4141;
}

.product-ratings .fade-rating svg {
    color: #aaa;
}

.review-counts {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #333;
    width: 100px;
}

.review-counts:hover {
    color: #ff4141;
}

.product-prices {
    display: flex;
    align-items: center;
    gap: .6rem;
    margin-bottom: .7rem;  
}

.product-prices-new {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ff4141;
}

.product-prices-new svg {
    font-size: 20px;
}

.product-prices-old {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    text-decoration: line-through 2px;
}

.product-prices-old svg {
    font-size: 20px;
}

.product-offers {
    background-color: #333;
    color: white;
    border-radius: 20px;
    padding: 3px 10px;
}

.product-short-desc {
    margin: 20px 0;
}

.products-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.increase-decrease-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.increase-decrease-item button {
    border: 1px solid #ccc;
    padding: 0.5rem;
    background-color: white;
    cursor: pointer;
    width: 40px; /* Set a fixed width */
}

.addCart-wislist-btn {
    display: flex;
    gap: 10px;
    align-items: center;
}

.addCart-wislist-btn button {
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #ff4141;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

.addCart-wislist-btn button:hover {
    /* background-color: #e03e3e; */
    background-color: #0048ba;
}

