.items-container{
    width: 250px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #ccc;
    margin: 8px 0;
    cursor: pointer;
    position: relative;
}
.product-image-box{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.product-image-box img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}
.product-name p{
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    display: -webkit-box;           /* For browsers that support it */
    -webkit-box-orient: vertical;  /* Limit box to vertical orientation */
    overflow: hidden;               /* Hide overflowing text */
    text-overflow: ellipsis;       /* Add ellipsis (...) */
    line-clamp: 2;                 /* Limit to 2 lines */
    -webkit-line-clamp: 2;         /* For webkit browsers */
    max-height: 3.6em;               /* 2 lines of text (line-height * number of lines) */
    line-height: 1.5em;            /* Adjust this based on your design */
    margin-bottom: 15px;
}
.productprice-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}
.productprice-new_price{
    font-size: 20px;
    font-weight: 600;
    color: #ff4141;
    display: flex;
    align-items: center;
}
.productprice-old_price{
    font-size: 16px;
    font-weight: 600;
    color: #333;
    display: flex;
    align-items: center;
    text-decoration: line-through;
}
.productprice-new_price svg{
    font-size: 22px;
}
.productprice-old_price svg{
    font-size: 20px;
}
.items-container:hover{
    border: 1px solid #0048ba;
    box-shadow: 0px 2px 4px 0 #555;
    z-index: 1;
}
.items-container:hover img{
    transform: scale(1.2);
}   

.hover-wishlist-cart{
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease;
    z-index: 1;
}
.items-container:hover .hover-wishlist-cart{
   opacity: 1;
   transform: translateY(0);
}

.hover-wishlist-cart .cartbox{
    position: relative;
   margin-top: 10px;
   border-radius: 50%;
   background: #ddd;
   width: 30px;
    height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.hover-wishlist-cart .cartbox:active,
.hover-wishlist-cart .wishlist:active{
    transform: scale(0.95);
    transition: transform 0.2s ease;
}
.hover-wishlist-cart .wishlist{
    margin-top: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 }
 .hover-wishlist-cart .wishlist svg{
    font-weight: 600;
 }
  .hover-wishlist-cart .cartbox svg{
    font-weight: 600;
 }
  
 .hover-wishlist-cart .wishlist:hover{
    background: #ff4141;
    transform: scale(1.2);
    transition: transform 0.2s;

 }
 .hover-wishlist-cart .cartbox:hover{
    background: #ff4141;
    transform: scale(1.2);
    transition: transform 0.2s;
   
 }

 .hover-wishlist-cart .wishlist:hover svg{
    color: #f1f1f1;
    font-weight: 600;
 }
  .hover-wishlist-cart .cartbox:hover svg{
    color: #f1f1f1;
    background: #ff4141;
    font-weight: 600;
 }

 /* === Tooltip === */
.item-tooltip-text {
    visibility: hidden;
    width: 110px;
    background-color: #ff4141;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    /* left: 110%;
    bottom: 5%; */
    left: 50%;
    bottom: 120%;
    
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
}

.cartbox:hover .item-tooltip-text,
.wishlist:hover .item-tooltip-text{
    visibility: visible;
    opacity: 1;
}


/* =========item product ratings ====== */
.item-product-ratings{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px 10px 5px 10px;
}
.rating{
    display: flex;
    align-items: center;
    gap: 3px;
    background: orange;
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 5px;
    font-weight: 600;
}
.offer{
    font-size: 14px;
    color: rgb(21, 161, 21);
}
