.description-review-box{
    background: #fff;
    padding: 0px 20px;
    margin: 5px 0;
}
.description-review-box-row{
    display: flex;
    gap: 1.5rem;
    padding: 10px 0;
    position: relative;

}
.description-review-box-row::after{
    position: absolute;
   content: "";
   display: block;
   background: #ddd;
   height: 1px;
   width: 100%;
   left: 0;
   right: 0;
   top: calc(100%);
}
.description-review-box-row p{
    font-weight: 600;
    font-size: 1rem;
}
.desc{
   position: relative;
   cursor: pointer;
}
.desc::after{
   position: absolute;
   content: "";
   display: block;
   background: red;
   width: calc(100% - 3px);
   height: 4px;
   left: 0;
   right: 0;
   top: calc(100% + 8px);
   z-index: 1;
}
.description-box{
    margin-top: .7rem;
    padding: 10px 0;
}