@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    
    background: #f4f4f4;
    overflow-x: hidden;
}
h1, h2, h3 {
    font-weight: 700;
}
p {
    font-weight: 400;
}
:root{
    /* --main-bg-color: #ed174a; */
    --main-bg-color: #ff4141;
}
  /* Customize the entire scrollbar */
  ::-webkit-scrollbar {
    width: 5px; /* width of the scrollbar */
  }
  
  /* Customize the track (background of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Customize the handle (the part you can drag) */
  ::-webkit-scrollbar-thumb {
    background: #ccc; /* Scrollbar handle color */
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ccc; /* Darker color when hovered */
  }
  
  