.order-history-container{
    border: 1px solid #00acc1;
    border-radius: 5px;
    padding: 5px 10px;
    min-height: 300px;
    position: relative;
}
.order-history-container h2{
    position: absolute;
    color: #444;
    background-color: #fff;
    top: -17px;
    padding: 0 8px;
    margin-left: 10px;
    font-size: 1.2rem;
}
.order-history{
    margin-top: 20px;
    padding: 5px;
    
    /* max-height: 350px;
    overflow-y: auto; */
}
.order-history-table{
    border-radius: 5px;
}
.order-history-table,th, td{
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px 8px;
}
.order-history-table th{
    font-size: 15px;
    color: #000;
    background-color: #e0f7fa;
}
.order-history-table td{
    font-size: 15px;
    text-align: center;
    color: #333;
    padding: 5px;
}
.order-history h3{
    text-align: center;
    color: red;
}